# =========================
# PostgreSQL
# =========================
POSTGRES_DB=agenda_db
POSTGRES_USER=agenda_user
POSTGRES_PASSWORD=agenda_pass
POSTGRES_PORT=5432

# =========================
# Django
# =========================
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_PORT=8000

# =========================
# Banco usado pelo Django
# =========================
DB_NAME=agenda_db
DB_USER=agenda_user
DB_PASSWORD=agenda_pass
DB_HOST=db
DB_PORT=5432

# =========================
# Frontend
# =========================
VITE_PORT=5173
VITE_API_BASE_URL=/api